.clock-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;  /* キャンバスサイズに合わせる */
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-area {
  width: 100%;
  height: 100%;
}

.clock-area canvas {
  width: 420px !important;
  height: 180px !important;
  display: block;
}
